body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.btn {
  width: 90px;
  height: 45px;
  border: none;
  border-radius: 25px;
  background: #2f80ed;
  color: white;
}


.number {
  width: 50px;
  height: 40px;
  background: #1e7f4f;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
border: none;
}